@import 'tailwindcss';

@theme{
    /* Custom color themes */
    --color-brandColor: #002366;
    --color-primaryColor: #055BFF;
    --color-backgroundColor: #00040D;
    --color-border-color: #334F85;
    --color-textWeak: #A3A8B2;
    --color-textStrong: #F6F6F6;
    --color-sectionBg: rgba(8,17,34,60);

    /* Custom font themes */
    --font-headerFont: 'Oswald', sans-serif;
    --font-bodyFont: 'Inter', sans-serif;
}

@layer base{
    h1,h2,h3,h4{
        @apply font-headerFont font-bold tracking-normal
    }
    h1{
        @apply text-[61px] md:text-[69px] md:leading-[82px] leading-[68px]
    }

    h2{
        @apply text-[49px] md:text-[55px] leading-14 md:leading-[68px]
    }

    h3{
        @apply text-[39px] md:text-[44px] leading-14 md:leading-[68px]
    }

    h4{
        @apply text-[31px] md:text-[35px] leading-[38px] md:leading-[45px]
    }

    p{
        @apply font-bodyFont text-[16px] md:text-[18px] leading-[22px] md:leading-[26px] tracking-normal
    }
}

@layer components{
    .sub-heading{
        @apply font-bodyFont text-[25px] md:text-[28px] leading-8 md:leading-[38px] tracking-normal
    }

    .sub-text{
        @apply font-bodyFont text-textWeak text-[20px] md:text-[22.5px] leading-[26px] md:leading-[30px] tracking-normal
    }

    .primaryBtn{
        @apply bg-primaryColor px-8 py-4 rounded-sm hover:opacity-80 hover:-translate-y-1 active:opacity-100 active:translate-y-0 transition-all ease-in-out duration-150
    }
}