@import 'tailwindcss';

@theme{
    /* Custom color themes */
    --color-brandColor: #002366;
    --color-primaryColor: #055BFF;
    --color-backgroundColor: #00040D;
    --color-borderColor: #334F85;
    --color-textWeak: #A3A8B2;
    --color-textStrong: #F6F6F6;
    --color-sectionBg: rgba(8,17,34,0.6);

    /* Custom font themes */
    --font-headerFont: 'Oswald', sans-serif;
    --font-bodyFont: 'Inter', sans-serif;
}

@layer base{
    h1,h2,h3,h4{
        @apply font-headerFont font-bold tracking-normal
    }
    h1{
        @apply text-[61px] md:text-[69px] md:leading-[82px] leading-[68px]
    }

    h2{
        @apply text-[49px] md:text-[55px] leading-14 md:leading-[68px]
    }

    h3{
        @apply text-[39px] md:text-[44px] leading-14 md:leading-[68px]
    }

    h4{
        @apply text-[31px] md:text-[35px] leading-[38px] md:leading-[45px]
    }

    p{
        @apply font-bodyFont text-[16px] md:text-[18px] leading-[22px] md:leading-[26px] tracking-normal
    }

    input,textarea{
        @apply bg-[rgba(0,35,102,0.4)] px-2 py-4 rounded-md focus:bg-textStrong focus:text-backgroundColor 
        focus:border-2 focus:border-borderColor outline-0 hover:border-2 hover:border-borderColor
    }

    label{
        @apply flex flex-col gap-1
    }
}

@layer components{
    .container{
        @apply relative h-screen overflow-y-scroll border w-screen
    }
    .pageSection{
        @apply mx-6 md:mx-[60px] lg:mx-[120px] relative
    }
    
    .sub-heading{
        @apply font-bodyFont text-[25px] md:text-[28px] leading-8 md:leading-[38px] tracking-normal
    }

    .sub-text{
        @apply font-bodyFont text-textWeak text-[20px] md:text-[22.5px] leading-[26px] md:leading-[30px] tracking-normal
    }

    .primaryBtn{
        @apply bg-primaryColor px-8 py-4 rounded-sm hover:opacity-80 hover:-translate-y-1 active:opacity-100 active:translate-y-0 transition-all ease-in-out duration-150
    }
}