@import 'tailwindcss';

@theme{
    /* Custom color themes */
    --color-brandColor: #002366;
    --color-primaryColor: #055BFF;
    --color-backgroundColor: #00040D;
    --color-border-color: #334F85;
    --color-textStrong: #CCD3E0;
    --color-textWeak: #F6F6F6;
    --color-sectionBg: rgba(8,17,34,60);

    /* Custom font themes */
    --font-headerFont: 'Oswald', sans-serif;
    --font-bodyFont: 'Inter', sans-serif
}

@layer base{
    h1,h2,h3,h4{
        @apply font-headerFont font-bold tracking-normal
    }
    h1{
        @apply text-[61px] md:text-[69px] md:leading-[82px] leading-[68px]
    }

    h2{
        @apply text-[49px] md:text-[55px] leading-14 md:leading-[68px]
    }

    h3{
        @apply text-[39px] md:text-[44px] leading-14 md:leading-[68px]
    }

    h4{
        @apply text-[31px] md:text-[35px] leading-[38px] md:leading-[45px]
    }

    p{
        @apply font-bodyFont text-[16px] md:text-[18px] leading-[22px] md:leading-[26px] tracking-normal
    }
}

@layer components{

}